# Build output
/build/
compile_commands.json

# Editors/IDEs
/.vs/
/.vscode/
*.xml

# Platform-specific binaries and debug files
*.dll
*.exe
*.lib
*.obj
*.pdb

# Local ROM files (keep directory scaffold)
/rom/*
!/rom/.gitkeep

# cache
.cache
